h1 {
  color: blue;
}

body {
  background-image: url(156.jpg);
  background-repeat: repeat;
}

table {
  font-size: 0.3em;
  border-spacing: 5px;
  background-color: rgb(255, 228, 233);
}
td {
  border-width: 3px;
}
<tr > <td style='border-style:dotted' > dotted</td > .item1 {
  border-left: solid #2244ff 1em;
}
.item1 {
  border-left: solid #ff9393 1.5em;
}
.item2 {
  border-left: solid #ff6a6a 1em;
}
.item3 {
  border-left: solid #4488ff 50em;
}

.item4 {
  border-left: solid #ff8787 0.8em;
}

.item5 {
  border-left: solid #a75d5d 5em;
}
